<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-squarePOS" version="0.0.1">
    <name>squarePOSplugin</name>

    <description>An Cordova plugin that allows users to generate a square transaction that can be completed in the Square POS. Will return transaction details.</description>
    <license>MIT</license>

    <keywords>cordova,android,PCI,square,POS,mobilepayments,payments,credit,creditcard</keywords>
    <repo>https://github.com/saltynarwhal/squarePOSplugin.git</repo>
    <issue>https://github.com/saltynarwhal/squarePOSplugin/issues</issue>

    <engines>
      <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/squarePOSplugin.js" name="squarePOSplugin">
        <clobbers target="window.plugins.squarePOSplugin" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="squarePOSplugin">
                <param name="android-package" value="com.saltynarwhal.cordova.plugin.squarePOSplugin"/>
            </feature>
        </config-file>

        <framework src="src/android/config.gradle" custom="true" type="gradleReference" />
        <framework src="com.android.support:appcompat-v7:25.3.1" />
        <framework src="com.android.support:support-v4:27.0.1" />
        <source-file src="src/android/squarePOSplugin.java" target-dir="src/com/saltynarwhal/cordova/plugin" />
        <source-file src="src/android/AlertDialogHelper.java" target-dir="src/com/saltynarwhal/cordova/plugin" />

    </platform>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="squarePOSplugin">
                <param name="ios-package" value="squarePOSplugin" onload="false"/>
            </feature>
        </config-file>

        <source-file src="src/ios/squarePOSplugin.m" />

        <config-file target="*-Info.plist">
          <key>LSApplicationQueriesSchemes</key>
          <array>
            <string>square-commerce-v1</string>
          </array>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleTypeRole</key>
              <string>Editor</string>
              <key>CFBundleURLName</key>
              <string>com.yesco.serviziofieldservice</string>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>squarePOSplugin</string>
              </array>
            </dict>
          </array>
        </config-file>

    </platform>

</plugin>
